* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-light: #f7f7f7;
	--color-dark: #100303;
	--color-primary: #72e7ca;
	--color-secondary: #95389e;
	--color-shadow: #10030361;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: var(--color-secondary);
	color: var(--color-light);
	transition-property: color, background-color;
	transition: 0.3s linear;
}

.container {
	width: 90%;
	padding: 10px;
	max-width: 1200px;
	margin: 0 auto;
}

button {
	padding: 10px 25px;
	border: none;
	background: var(--color-primary);
	color: var(--color-dark);
	border-radius: 5px;
	margin-top: 20px;
	outline: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}
.button-card {
	margin-top: 2rem;
	background: var(--color-light);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search {
	margin-top: 20px;
	margin-bottom: 30px;
}
.search input {
	outline: none;
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}

.characters {
	margin-top: 40px;
	display: grid;
	grid-template: auto / 1fr;
	gap: 40px;
}

.character {
	position: relative;
	background: transparent;
	border-radius: 5px;
	color: var(--color-dark);
	width: 100%;
}
.character img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	height: 150px;
	width: 150px;
	object-fit: cover;
	border: 5px solid var(--color-primary);
	border-radius: 50%;
	box-shadow: 0 0 10px 0 var(--color-shadow);
	z-index: 10;
}
.character-info {
	position: relative;
	margin-top: 100px;
	background: var(--color-primary);
	padding: 20px 5px;
	padding-top: 70px;
	text-align: center;
	border-radius: 8px;
}
.character-info h3 {
	color: var(--color-secondary);
	margin-bottom: 10px;
}

.list-favorites {
	display: block;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 20px;
}
@media screen and (min-width: 600px) {
	.list-favorites {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
	}
}
.list-favorites-item {
	border: 1px solid gray;
	background: var(--color-shadow);
	min-height: 80px;
	display: grid;
	grid-template: 1fr / 1fr 40px;
}
.list-favorites-item img {
	display: block;
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 var(--color-primary);
}
.list-favorites-item .content {
	display: flex;
	align-items: center;
	column-gap: 15px;
	height: 100%;
	padding-left: 15px;
}
.list-favorites-item .content p {
	font-size: 14px;
}
.list-favorites-item .close {
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-items: center;
	align-items: center;
	transition: background 0.3s linear;
}
.list-favorites-item .close:hover {
	background: #1003039c;
}

@media screen and (min-width: 500px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	.characters {
		grid-template: auto / repeat(2, 1fr);
	}
}
@media screen and (min-width: 900px) {
	.characters {
		grid-template: auto / repeat(3, 1fr);
	}
}
